services:
  postgres_db:
    image: postgres:13
    environment:
      POSTGRES_USER: acmuser
      POSTGRES_PASSWORD: acmpassword
      POSTGRES_DB: acmdb
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data
volumes:
  pgdata: